label{
    display:inline-block;
    width:220px;
}

.profilePic{
	position: absolute;
    left: 450px;
    top: 150px;
}

.user1WorkOrderSideBar{
	position: fixed;
    left: 0px;
    top: 150px;
    border-style: double;
}